{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multiple-select.css') }}" />
    <link rel="stylesheet" href="templates/account.css">
{% endblock %}
{% block body %}

    <form>
        <label for="oldpass">OldPass (4 to 8 characters):</label>
        <input type="text"  name="oldpass" required
               minlength="4" maxlength="8" size="10">
        <br>
        <label for="newpass">New pass (4 to 8 characters):</label>

        <input type="text" name="newpass" required
               minlength="4" maxlength="8" size="10">
        <br>

    <button type="submit">changer</button>
    </form>

{% endblock %}