{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multiple-select.css') }}" />
    <link rel="stylesheet" href="templates/account.css">
{% endblock %}
{% block body %}

    <form method ="POST">

        <label for="oldpass">Mot de passe actuel:</label>
        <input type="password"  class="form-control" name="oldpass" required
               minlength="8" size="10">
        <br>
        <label for="newpass">Nouveau mot de <passe></passe>:</label>

        <input type="password"  class="form-control" name="newpass" required
               minlength="8" size="10">
        <br>
        <button type="submit" class="form-group btn btn-outline-primary">Modifier</button>
    </form>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}