{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <ul>
            <li>Count of Projets {{ prjtsCnt }}</li>
            <li>Count of sources {{ srcCnt }}</li>
            <li>Count of sources started to translation {{ srcTranslated }}</li>
            <li>Creation date {{pCreationDate }}</li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

