{% extends 'base.html.twig' %}


{% block body %}

    <h1>Profil de {{ app.user.username }}</h1>

    <form method="post">

        <p> Ancien email</p>
        <label for="inputEmail" class="sr-only">ancien e-mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ancien e-mail" required autofocus>
        <p> Nouvel email</p>
        <label for="inputEmail" class="sr-only">nouvel e-mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Nouvel e-mai" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            Modifier
        </button>

    </form>



{% endblock %}
