{% extends 'base.html.twig' %}


{% block body %}

    <h1>Mon profil</h1>

    <img src="http://via.placeholder.com/150">
    <p> Importer une photo de profil </p>

    <h4>Modifier vos informations</h4>
    <label for="username">Modifier votre e-mail actuel [{{ app.user.email }}]</label>
    <input type="text" class="form-control" id="username" name="_username" placeholder="Votre nouvel e-mail" />
    <br/>
    <button type="submit" class="form-group btn btn-outline-primary">Modifier votre e-mail</button>
    <br/>
    <label for="password">Modifier votre mot de passe:</label>
    <input type="password" class="form-control" id="password" name="_password" placeholder="Votre nouveau mot de passe" />
    <br/>
    <input type="hidden" name="_target_path" value="/connection" />
    <button type="submit" class="form-group btn btn-outline-primary">Modifier votre mot de passe</button>

{% endblock %}
